<div id="bodyContent">
<div *ngIf="!alert" class="form">

    <mat-card class="my-card">
        <mat-card-content>

                <div class="example-container">
                    <mat-form-field class="example-full-width" appearance="standard">

                        <input (change)='change()' placeholder="Email Address" matInput [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="showQuestion" class="example-container">
                    <mat-form-field class="example-full-width"  appearance="standard">

                        <!-- <label for="question">Question</label> -->
                        <input autofilled="true" id="question" value="{{forgotpasswordQuestion}}" matInput  disabled>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="standard">

                        <input placeholder="Answer" [(ngModel)]="answer" matInput  >

                    </mat-form-field>
                </div>
                <div *ngIf="ShowPassword" class="example-container">
                    <mat-form-field  class="example-full-width" appearance="standard">

                        <input type="password" placeholder="Password" [(ngModel)]="password" matInput  >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="standard">

                        <input (change)="checkpassword()" placeholder="Confirm Password" [(ngModel)]="confirmpassword" matInput  >

                    </mat-form-field>
                    <mat-error *ngIf="checkpassword()">{{checkpassword()}}</mat-error>
                </div>
                <br>
                <button [disabled]="disabled" (click)='Forgotpassword()' class='mat-raised-button' color="primary">Submit</button>


        </mat-card-content>
</mat-card>
</div>
<div *ngIf="alert" class="row col-sm-12" style="margin-bottom: 20px;">
    <div class="alert alert-success" id='upper-side'>
        <!-- <img width= '145px' src="..//..//..//assets/success.svg"/>
       -->
        <h5>Password Reset Successfully</h5>
        <span style="margin-top: 10px;">Go to </span><a routerLink="/login">Login</a>

     </div>

</div>
</div>
