<div class="container container-fluid">

    <div class="grid-row no-gutter">
        <div class="grid-col col-12-of-12 ">
          <div class="header withSubHeadline">
            <br>
            <br>
            <h2 data-qa="loan details header">Confirm mortgage</h2>
            <br>
            <p>Thank you for selecting a mortgage product. You can download the Mortgage Illustration below. Please confirm that you'd like to proceed with your chosen product or alternatively go back and choose a different rate.</p>
            <br>
          </div>


          <div class="form field-bottom-fourfold">
            <h2 class="formHeader" data-qa="your chosen mortgage">Your chosen mortgage</h2>
            <div class="formbody field-bottom-doubleandhalf">
              <div id="chosenMortgage" class="summary field-top-single">
                <div class="summarybody grid-row">
                  <div class="grid-col">
                      <br>
                    <h3 data-qa="mortgage description">Fixed 2 Years</h3>
                    <br>
                    <br>
                  </div>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>
                      <span>Buyer type</span>
                      <a href="#" class="contextHelper" title="This is based on the information you gave us when you started your application.">Help</a>
                    </dt>
                    <dd data-qa="buyer type">New mortgage</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>
                      <span>Repayment method</span>
                      <a href="#" class="contextHelper" title="We only offer repayment (capital and interest) mortgages online.">Help</a>
                    </dt>
                    <dd data-qa="repayment method">Repayment</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>
                      <span>Mortgage term</span>
                      <a href="#" class="contextHelper" title="This is the term you chose when you completed your decision in principle. You can change this term but it may affect the decision we give you.">Help</a>
                    </dt>
                    <dd data-qa="mortgage term">10 years 0 months</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Early repayment charge (ending your mortgage)<a href="#" class="contextHelper" title="You may be charged this if you repay your mortgage in full before your special rate period ends (e.g. while you’re on a fixed interest rate).">Help</a></dt>
                    <dd>
                      <ul>
                        <li data-qa="early repayment charge 0">3% of the outstanding balance</li>
                        <li data-qa="early repayment charge 1">Repay the 'Additional benefits'</li>
                      </ul>
                    </dd>
                  </dl>
  
                </div>
                <div class="grid-row summarybody">
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Estimated property value or purchase price</dt>
                    <dd data-qa="property valuation">£100,000</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Borrowing amount</dt>
                    <dd data-qa="borrowing amount">£6,000</dd>
                  </dl>
                  <dl class="grid-col">
                    <dt>
                      <span>Loan to value (LTV)</span>
                      <a href="#" class="contextHelper" title="This calculation shows what percentage of the property value you're planning to borrow.">Help</a>
                    </dt>
                    <dd data-qa="ltv">6.00%</dd>
                  </dl>
                </div>
                <div class="grid-row summarybody">
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Initial rate</dt>
                    <dd data-qa="initial rate">2.33%</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    
                      <dt data-qa="santander FOR type">Then changing to Santander’s Follow-on Rate (currently)</dt>
                      <dd data-qa="standard variable rate">3.35%</dd>
                    
                    
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Differential to Bank of England base rate</dt>
                    <dd data-qa="differential bank of england rate">n/a</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>When does this rate finish</dt>
                    <dd data-qa="product rate end date">02 September 2023</dd>
                  </dl>
                </div>
                <div class="grid-row summarybody">
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Product fee</dt>
                    <dd data-qa="booking fee">£1,249</dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Product fee added to loan amount</dt>
                    <dd data-qa="booking fee monthly repayments">No</dd>
                  </dl>
                </div>
                <div class="grid-row summarybody">
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>
                      <span>Additional benefits</span>
                    
                    <a href="#" class="contextHelper" data-qa="new mortgage additional benefits" title="We offer additional benefits on most of our mortgages. You can see full details when you download the Mortgage Illustration.">Help</a>
                    </dt>
                    <dd>
                      <ul>
                        
                        
                        <li data-qa="additional benefit 0">See your Mortgage Illustration for details</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="grid-col col-4-of-8 mobile-col-full">
                    <dt>Monthly payment amount</dt>
                    <dd data-qa="monthly repayment amount">£56</dd>
                  </dl>
                </div>
              </div>
              <div>
                <a href="/mortgages/mortgageOptions" data-qa="change product" class="secondary button">Select a different mortgage</a>
              </div>
            </div>
          </div>


          <div class="form">
            <h2 class="formHeader">Download your Mortgage Illustration</h2>
            <div class="formbody">
              <div class="field-bottom-double">
                
                  <div data-qa="kfi illustration advisory text">
                    <p>Most of our customers print or download the Mortgage Illustration for their records as we don't send it separately by post.</p>
                    <p>You can view and print as many Mortgage Illustrations as you want. However only the mortgage you select and submit will be valid.</p>
                  </div>
                  <div class="formbody secondary formbody-padded grid-row">
                    <div class="grid-col col-no-gutter col-4-of-8 mobile-col-full">
                      <a href="/mortgages/confirmMortgage/kfipdf" rel="noopener noreferrer" target="_blank" data-qa="KFI pdf" class="downloadDoc" id="KFIlink">
                        <img src="/mortgages/images/2.3.48/document_pdf.png" alt="PDF file">MortgageIllustration.pdf</a>
                    </div>
                    <div class="mobile-grid-col col-4-of-8 col-no-gutter tablet-col-full mobile-col-full">
                      <ul class="actions fr field-top-none mobile-col-full field-bottom-none">
                        <li class="field-left-single field-mobile-left-none">
                          <a id="downloadKFI" href="/mortgages/confirmMortgage/kfipdf?download=true" class="download button center alternative" data-qa="KFI download">Download</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                
                
                <div id="browserNotSupportedText" class="warningMessage" data-qa="browser not supported" data-hidden-on-load="true" aria-hidden="true">
                  <p><strong>Your browser isn’t supported</strong></p>
                  <p>If you experience an issue downloading documents this could be due to the browser you’re using.
                    Please click ‘Save and come back later’ and log back in using a different browser or device.</p>
                </div>
              </div>
              <div class="field-bottom-fourfold" data-qa="confirmation check">
                <div class="formbody formbody-padded secondary">
                  <ul>
                    <li>
                      <input type="checkbox" id="finishOnline" data-qa="finish online" required="required" name="finishOnline" value="true"><input type="hidden" name="_finishOnline" value="on">
                      <label for="finishOnline">I have chosen to complete my application online and as such I have not been provided with any advice. This means I will not benefit from the protection that advice provides and Santander have not assessed the suitability of my mortgage
                        for me.
                      </label>
                      
                    </li>
                    <li>
                      <input type="checkbox" id="readUnderstoodKFI" data-qa="read and understood KFI" required="required" name="readUnderstoodKFI" value="true"><input type="hidden" name="_readUnderstoodKFI" value="on">
                      <label for="readUnderstoodKFI">I am happy to proceed with the product I have selected.</label>
                      
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="formbody">
            <ul class="actions trailing field-bottom-none">
              <li class="tail mobileFull">
                <button id="nextButton" type="submit" formnovalidate="formnovalidate" class="mat-raised-button"  data-qa="nextButton" data-confirm-dialog="#readKfiPopUp">Continue</button>
              </li>
              <li class="leading mobileFull">
                <button type="submit" formnovalidate="formnovalidate" class="secondary" data-qa="save and come back later" data-confirm-dialog="#saveAndComeBackLaterModal">Save and come back later</button>
              </li>
            </ul>
            <ul class="actions trailing field-top-none">
              <li class="tail">
                <button type="submit" formnovalidate="formnovalidate" class="inlineBtn">Cancel</button>
              </li>
              <li class="leading">
                <button type="submit" formnovalidate="formnovalidate" class="inlineBtn">Back</button>
              </li>
            </ul>
          </div>

                  <div class="importantMessageform">
                    <div class="formbody">
                      <h6><b>Important information</b></h6>
                      <div class="message">
                          <br>
                        <p>
                          <strong>YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE </strong>
                        </p>
                        <p>All applications are subject to status and our lending criteria. This means that the amount we will lend you will depend on your individual circumstances, the type of property and the amount you borrow. For example, we may require a higher deposit
                          if you are buying a flat or a new build property.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
               
</div>