footer {
    padding-bottom: 10px;
    background-color: #DDD;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
    
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 500px;
    
}
a {
    color: #6f7779;
    font-size: 0.8rem;
}