<footer class="no-legacy-menus">
    <div class="container footer--container" role="contentinfo">

        <div class="col-sm-12" style="margin-left: 70px;">


            <div class="row">
                <div class=" col-md-3 ">

                    <h5><a href="/" title="Online Banking Gaurantee">Online Banking Gaurantee</a></h5>

                </div>
                <div class=" col-md-3 ">

                    <h5><a href="/" title="Site Help & accessbility" target="_blank" rel="noopener">Site Help &
                            accessbility</a></h5>

                </div>
                <div class=" col-md-3 ">

                    <h5><a href="/" title="Security and privacy">Security and privacy</a></h5>

                </div>
                <div class=" col-md-3 ">

                    <h5><a href="/" title="Legal" target="_blank" rel="noopener">Legal</a></h5>

                </div>
            </div>

        </div>
    </div>

</footer>