.message{
    background-color: #f9f9f9;
}
.swap{
    background-color: transparent;
    background-image: url('https://apply.santander.co.uk/mortgages/styles/2.3.48/images/icn-collapsed-circle.svg'),none;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: initial;
    cursor: pointer;
    line-height: 25px;
    margin-bottom: 30px;
    padding-left: 41px;
    outline: 0;
    font-size:22px;
}